/* Use colour to distinguish private messaging from regular topic pages */

.archetype-private_message .private-message-map h3,
.user-menu .notifications .fa-envelope-o,
.private-message-glyph {
  color: #508f50
}

.archetype-private_message #topic-footer-buttons button.create,
.archetype-private_message #reply-control .btn-primary,
#reply-control.private-message .btn-primary,
.new-private-message.btn-primary,
.user-messages-page #reply-control .btn-primary,
.usercard-controls .btn-primary {
  color: white; background-color: #306f30;
}

.user-menu .notifications .fa-envelope-o,
.user-messages-page,
#main-outlet > .private_message #topic {
  background-color: #f0fff0
}
#reply-control.private-message,
.user-messages-page #reply-control,
.archetype-private_message #reply-control {
  background-color: #d0dfd0
}


/* Add text to buttons to make it clearer that message will be private */

.archetype-private_message .private-message-map h3:after {
  content: " (Private)";
}
.archetype-private_message #reply-control button.create:after,
.archetype-private_message .topic-post button.create:after,
.archetype-private_message #topic-footer-buttons button.create:after {
  content: " Privately";
}


/* Hide extraneous UI elements from private messages */

.archetype-private_message #suggested-topics,
.archetype-private_message .topic-map ul:first-child,
.archetype-private_message .topic-map nav.buttons { display: none; }


/* Enlarge message icon */

.private-message-glyph { font-size: 30px; margin-right: 10px; margin-left: 10px; }
